
<div class="example-container"  fxLayoutAlign="center center">
 <!-- <form #registration> -->
  <mat-card class="example-card" #registration>
    <form #registration>
    <div>
      <h1 align="center">register</h1>
    </div>

  <div class="example-container" fxLayout="row" fxLayoutAlign="center">
 <mat-form-field fxFlex fxFlex.gt-xs="400px">
 <input matInput type=text placeholder="name" name="name" [(ngModel)]="model.name" required>
</mat-form-field>
</div>
    <div class="example-container" fxLayout="row" fxLayoutAlign="center">
   <mat-form-field fxFlex fxFlex.gt-xs="400px">
   <input matInput type=text placeholder="Email" name="Email" [(ngModel)]="model.Email" required>
  </mat-form-field>
</div>
  <div class="example-container" fxLayout="row" fxLayoutAlign="center">
 <mat-form-field fxFlex fxFlex.gt-xs="400px">
 <input matInput type="password" placeholder="Enter password"  name="password" [(ngModel)]="model.password" required>

</mat-form-field>
</div>
<div class="example-container" fxLayout="row" fxLayoutAlign="center">
<mat-form-field fxFlex fxFlex.gt-xs="400px">
<input matInput type="password" placeholder=" confirm password" name="password" [(ngModel)]="model.password" required>
<mat-icon matSuffix (click)="hide = !hide"></mat-icon>
</mat-form-field>
</div>
  <div class="example-container" fxLayout="row" fxLayoutAlign="center">
<mat-form-field  fxFlex fxFlex.gt-xs="400px">
   <input matInput #input maxlength="10" placeholder="Enter your mobile number"  name="mobileNumber" [(ngModel)]="model.mobileNumber" required>
 </mat-form-field>
</div>
  <div class="example-container" fxLayout="row" fxLayoutAlign="center">
<button fxFlex fxFlex.gt-xs="100px" type="submit" mat-button mat-raised-button color="primary" (click)="register()">signup</button>
</div>
 </form>
</mat-card>

</div>
