  <div style="height:100vh;">
    <mat-toolbar  class="example-header" appColorTool>
    <div fxFlex="100">

       <div  fxLayout="row" fxFlex="20" >
         <button mat-icon-button (click)="sidenav.toggle()" href="#" matTooltip="Main menu">
        <mat-icon>menu</mat-icon>
       </button>
       <span>Fundoo Keep</span>
       </div>

       <div fxLayout="row" fxFlex="60">
           <form [formGroup]="homeForm">
            <mat-icon>search</mat-icon>
           <input type='text' style="height: 46px;width:350%;" placeholder="Search ..." [formControl]="inputFormControl"> 
         </form> 
       </div>

      <div fxLayout="row" fxFlex="20" fxLayoutAlign="end">
    
        <div>
        <button mat-icon-button (click)="refresh()">
          <mat-icon>refresh</mat-icon>
        </button>
        </div>

         <div>
          <button mat-icon-button>
           <mat-icon style="margin-top: 10px;" (click)="changeCSS()">view_list</mat-icon>
           </button>
         </div> 

         <div>
           <button type="submit" mat-menu-item [matMenuTriggerFor]="login" (click)="getLoggedUser()">
           <div mat-card-avatar class="example-header-image"></div>
           </button>
         </div>

       </div>

       </div>

       <mat-menu #login="matMenu">
        <div fxLayout="column" fxLayoutGap="20px">
          <div fxLayout="row" fxLayoutGap="30px">
            <div>
           <div mat-card-avatar class="example-header-image"></div>
            </div>
              <div>
               <p>{{username}}</p>
               <p>{{useremail}}</p>
             </div>
           </div>
          <div fxLayout="row" fxLayoutGap="70px" class="rowDesign">
            <div>
                <button mat-button>Add account</button>
              </div>
            <div>
              <button type="submit" mat-button  (click)="logout()">Sign out</button>
         </div>
          </div>
        </div>
     </mat-menu>
      
    </mat-toolbar>

    <mat-sidenav-container class="example-container">

      <mat-sidenav mode="side" style="height:-10px" class="example-sidenav" #sidenav opened fxLayout="column" >
        <div fxLayout="column">

          <div>
            <button mat-menu-item routerLink="/home/note">
              <mat-icon>lightbulb_outline</mat-icon>
              <span>Note</span>
            </button>
          </div>
         
          <div>
            <button mat-menu-item routerLink="/home/reminder">
              <mat-icon> <img src="/assets/icons/remender.svg"></mat-icon>
              <span>Reminders</span>
            </button>
          </div>
        
          <div>
            <button mat-menu-item routerLink="/home/archive">
              <mat-icon>archive</mat-icon>
              <span>Archive</span>
            </button>
          </div>
         
          <div>
            <button mat-menu-item routerLink="/home/trash">
              <mat-icon>delete</mat-icon>
              <span>Trash</span>
            </button>
          </div>

          <div>

            <button mat-menu-item>
              <span>Labels</span>

              <button mat-button type="submit" (click)="openLabelDialog()" style="margin-left:40%;">
                <b>EDIT</b>
              </button>

            </button>
          </div>
          <div *ngFor="let label of labels">
            <div>
              <button [routerLink]="['/home/labelnote',label.labelId]" mat-menu-item>
                <mat-icon>label</mat-icon>
                <span >{{label.labelTitle}}</span>
              </button>
            </div>
          </div>
          <div>

            <button mat-menu-item (click)="openLabelDialog()">
              <mat-icon>add</mat-icon>
              <span>Create new lable</span>
            </button>
          </div>
        </div>
      </mat-sidenav>

      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
 











