<!-- Hide card-->
  <div class="left-container">
     <div fxLayoutAlign="center center" (click)="show=!show" class="note-card" *ngIf="!show">
      <mat-card fxFlex="600px" fxFlexAlign="center" class="title-css">
      <div contenteditable="true" data-text="Take a note..." class="editable"></div>
      </mat-card>
     </div>


  <!--show card-->
  <div fxLayout="row" fxLayoutAlign="center" *ngIf="show" class="note-card">
    <mat-card fxFlex="600px" fxFlexAlign="center">
     
      <mat-card-content>
        <div style="font-weight: bold; font-size: 17px; padding: 10px 15px;" contenteditable="true" data-text="Title" class="editable"
          name="Title" (input)="model.title=$event.target.innerHTML"></div>

        <div style="font-size: 14px; padding: 12px 15px 15px 15px;" contenteditable="true" data-text="Take a note..." class="editable "
          name="description" (input)="model.description=$event.target.innerHTML"></div>
          <div name="url" (input)="model.url=$event.target.innerHTML"></div>
      </mat-card-content>

      <mat-card-actions>
        <div fxLayout="row" fxLayoutAlign="end">
          <button matbutton type="submit" (click)="createNote() ;this.disabled=true;">Done</button>
        </div>
      </mat-card-actions>

    </mat-card>
  </div>
   

  <!--pinNote -->
     
<!--UnpinNote -->

 <div style="margin-left:15px">Pinned</div>
   <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
     <div fxLayout="row wrap"  fxLayoutAlign="space-between center"  class="mat-div" fxFlex="900px"> 
       <div *ngFor="let note of notes | noteFilter :{status:3}" [style.marginTop]="marginTop" [fxFlex]="flexSize">
        <app-commonnote [note]="note"></app-commonnote>
      </div>
     </div> 
  </div>
 <div style="margin-left:15px">Other</div>
   <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
     <div fxLayout="row wrap"  fxLayoutAlign="space-between center"  class="mat-div" fxFlex="900px"> 
       <div *ngFor="let note of notes | searchFilter : searchText | noteFilter :{status:0}" [style.marginTop]="marginTop" [fxFlex]="flexSize">
        <app-commonnote [note]="note"></app-commonnote>
      </div>
     </div> 
  </div>
</div>
