.example-container {
  display:flex;
  flex-direction:column;


}

.example-container > * {
  width:100%;
}
.example-card {
  max-width: 400px;
  /*background-color: card blue-grey darken-1;*/
  margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
      margin-right: 100px;
    background-color: lightskyblue;
  /* top:0;
  left: 0;
  height: 100%;
  width: 100%; */
}
.loginMain-div{
background: silver;
}
