
<div class="example-container"  fxLayoutAlign="center center" class="loginMain-div">
  <mat-card class="example-card">

  <form class="example-container" #loginFrom="ngForm" (ngSubmit)="logIn()">
    <div>
      <h1 align="center">login</h1>
    </div>
  <!-- USERNAME-->


        <div fxLayout="row">

             <mat-form-field fxFlex fxFlex.gt-xs="400px">
               <input matInput placeholder="Email" name="email" [formControl]="emailControl" [errorStateMatcher]="match"  [(ngModel)]="model.email">
               <mat-error *ngIf="emailControl.hasError('required')">Email Address is required</mat-error>
               <mat-error *ngIf="emailControl.hasError('pattern') && !emailControl.hasError('required') ">Enter Valid Email</mat-error>
             </mat-form-field>
           </div>


  <!-- PASSWORD-->
  <div class="example-container" fxLayout="row" fxLayoutAlign="center">
 <mat-form-field fxFlex fxFlex.gt-xs="400px">
  <input matInput type="password" placeholder="Enter password" [formControl]="passwordControl"
           [errorStateMatcher]="match" name="password" [(ngModel)]="model.password" required>
           <mat-error *ngIf="passwordControl.hasError('password') && !passwordControl.hasError('required')">Please enter a valid password address
           </mat-error>
   <mat-error *ngIf="passwordControl.hasError('required')">password is <strong>required</strong> </mat-error>
   <mat-error *ngIf="passwordControl.hasError('pattern') && !passwordControl.hasError('required') ">Password not valid</mat-error>
</mat-form-field>
</div>

  <div class="example-container" fxLayout="row" fxLayoutAlign="center">
       <button mat-raised-button color="primary" class="save_button" [disabled]="!emailControl.valid || !passwordControl.valid">login</button>
 <!-- <button fxFlex fxFlex.gt-xs="100px" type="submit" mat-button mat-raised-button color="primary" [disabled]="!loginFrom.form.valid" >login</button> -->
</div>
 </form>
</mat-card>
</div>
