
<div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="20px">
  
    <div *ngFor="let note of notes">
    <div *ngIf="note.status===2">
    <mat-card class="note-card2" fxFlex="240px" style="word-wrap: break-word;" >
        <div style="margin-left: 90%;">
            <img src="{{pinIcon}}"  (click)="pinNote(note)">
        </div>
      
          <div (click)="openDialog(note)">
            <div [innerHTML]="note.title" class="editable"></div>
            <div [innerHTML]="note.description"></div>
          </div>
          <div fxLayout="row">
            <div>
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button type="submit" mat-menu-item (click)="unArchive(note)">
                  <mat-icon>delete</mat-icon>
                  <span>delete note</span>
                </button>
              </mat-menu>
            </div>
             <div>
                <img  matTooltip="Unarchive" style="height: 20px; margin-top: 10px;" src="{{unArchiveImg}}" (click)=" unArchive(note)">
               </div> 
              </div>
      </mat-card>
      </div>
      </div>
    </div>