  <div style="height:100vh;">
    <mat-toolbar  class="example-header" >
    <div fxFlex="100">

       <div  fxLayout="row" fxFlex="20" >
         <button mat-icon-button (click)="sidenav.toggle()" href="#" matTooltip="Main menu">
        <mat-icon>menu</mat-icon>
       </button>
       <span>Fundoo Keep</span>
       </div>

       <div fxLayout="row" fxFlex="60">
          <mat-icon>search</mat-icon>
          <!-- <input [(ngModel)]="searchText"  [routerLink]="['/search']" type='text' placeholder="Search ..."/> 
         -->
          <!-- <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">  -->
                       
         <form [formGroup]="homeForm">
           <input type='text' placeholder="Search ..." [formControl]="inputFormControl">  
         </form> 
         
          <!-- <ul>
          <li *ngFor="let c of characters | searchFilter : searchText">
            {{c}}
          </li>
        </ul>  -->
       </div>

      <div fxLayout="row" fxFlex="20" fxLayoutAlign="end">
    
        <div>
        <button mat-icon-button (click)="refresh()">
          <mat-icon>refresh</mat-icon>
        </button>
        </div>

         <div>
          <button mat-icon-button>
           <mat-icon style="margin-top: 10px;" (click)="changeCSS()">view_list</mat-icon>
           </button>
         </div> 

         <div>
           <button type="submit" mat-menu-item [matMenuTriggerFor]="login" (click)="getLoggedUser()">
           <div mat-card-avatar class="example-header-image"></div>
           </button>
         </div>

       </div>

       </div>

       <mat-menu #login="matMenu">
        <div fxLayout="column" fxLayoutGap="20px">
          <div fxLayout="row" fxLayoutGap="30px">
            <div>
           <div mat-card-avatar class="example-header-image"></div>
            </div>
              <div>
               <p>{{username}}</p>
               <p>{{useremail}}</p>
             </div>
           </div>
          <div fxLayout="row" fxLayoutGap="70px" class="rowDesign">
            <div>
                <button mat-button>Add account</button>
              </div>
            <div>
              <button type="submit" mat-button  (click)="logout()">Sign out</button>
         </div>
          </div>
        </div>
     </mat-menu>
      
    </mat-toolbar>

    <mat-sidenav-container class="example-container">

      <mat-sidenav mode="side"  class="example-sidenav" #sidenav opened fxLayout="column">
        <div fxLayout="column">

          <div>
            <a routerLink="/home/note" mat-button>
              <mat-icon>lightbulb_outline</mat-icon> Note</a>
          </div>
          <div>
            <a mat-button routerLink="/home/reminder">
              <img src="/assets/icons/remender.svg"> Reminders</a>
          </div>
          <div>
            <a routerLink="/home/archive" mat-button>
              <mat-icon>archive</mat-icon> Archive</a>
          </div>
          <div>
            <a routerLink="/home/trash" mat-button>
              <img style="height:30px;margin-top: 10px;" src="/assets/icons/trash.svg"> Trash</a>
          </div>
          <div>

            <button mat-menu-item>
              <span>Labels</span>

              <button mat-button type="submit" (click)="openLabelDialog()" style="margin-left:40%;">
                <b>EDIT</b>
              </button>

            </button>
          </div>
          <div *ngFor="let label of labels">
            <div>
              <button mat-menu-item>
                <mat-icon>label</mat-icon>
                <span>{{label.labelTitle}}</span>
              </button>
            </div>
          </div>
          <div>

            <button mat-menu-item (click)="openLabelDialog()">
              <mat-icon>add</mat-icon>
              <span>Create new lable</span>
            </button>
          </div>
        </div>
      </mat-sidenav>

      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
 











