.colortool-containe {
    display:flex;
    flex-direction:column;
  
  
  }
  .sidenav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .example-header{
    background-color: #fb0; 
    top: 0;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  .example-sidenav {
    display: flex;
    align-items: center;
    width: 200px;
  }
  .example-container {
    position: absolute;
    top: 60px;
    bottom: 0px;
    left: 0;
    right: 0;
  }
  .example-events {
    width: 300px;
    height: 200px;
    overflow: auto;
    border: 1px solid #555;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
    width: 280px;
  }
  .title-css{
    max-height: 600px;
  }

  .sidebar-item{
    cursor: pointer;
    padding: 10px;
    border-radius: 2px;
  }

  .sidebar-item:hover {
    background-color: rgba(0,0,0,0.12);
  }
  .app-toolbar {
    position: sticky;
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.profileicon-design{
   margin-left:50%;
}

example-headermatool-image {
  margin-left: 280%;
  background-image: url('/assets/icons/userProfile2.svg');
  background-size: cover;
}

.example-card {
  top: 57px;
  position: absolute;
  right: 75px;
  width: 315px;
}

.example-header-image {
   
  background-image: url('/assets/icons/userProfile2.svg');
  /* user profile pic*/
  background-size: cover;
}
/* 
.mat-drawer-content {
   overflow: hidden;
} */

