<div>
  <div style="height:100vh;">
    <mat-toolbar style="background-color: #fb0; position: sticky; top: 0;z-index: 1000;">
      <button mat-icon-button (click)="sidenav.toggle()" href="#" matTooltip="Main menu">
        <mat-icon>menu</mat-icon>

      </button>


      <span>Fundoo Keep</span>
      <div>
        <button mat-icon-button (click)="refresh()">
          <mat-icon>refresh</mat-icon>
        </button>
      </div>
     <!--<div class="login-design">
      <button type="submit" mat-menu-item [matMenuTriggerFor]="login" (click)="getLogedUser()">
        
          <div mat-card-avatar class="example-header-image"></div>
        
      </button>
    </div>

    <mat-menu #login="matMenu">
        <div fxLayout="column" fxLayoutGap="20px">
      <div fxLayout="row" fxLayoutGap="30px">
        <div>
         
            <div mat-card-avatar class="example-header-image"></div>
          
        </div>

        <div>
        
            <b>fullname</b>
            <a>userEmail</a>
            <button mat-raised-button color="primary">My Account</button>
         
        </div>
     </div>-->
     <!--
       <div fxLayout="row" fxLayoutGap="70px" class="rowDesign">
          <div><button mat-raised-button color="primary">Add Account</button></div>
          <div> <button type="submit" mat-raised-button color="primary" (click)="signOut()">Sign out</button></div>     
      </div>
     </div> -->

      
      <a href="#" mat-button>Menu Item 1</a>

      <a href="#" mat-button>Menu Item 2</a>

      <a href="#" mat-button>Menu Item 3</a>
      <button mat-button type="submit" (click)="logout()">Sign out</button>
      
    </mat-toolbar>

    <mat-sidenav-container class="example-container">

      <mat-sidenav mode="side" #sidenav opened fxLayout="column">
          <div fxLayout="column"> 

              <div>
                <a href="/home/note" mat-button>
                  <mat-icon>lightbulb_outline</mat-icon> Note</a>
              </div>
              <div>
                <a href="/home/Reminders" mat-button>
                  <img src="/assets/icons/remender.svg"> Reminders</a>
              </div>
              <div>
                  <a href="/home/archive" mat-button>
                    <mat-icon>archive</mat-icon> Archive</a>
                </div>
              <div>
                <a href="/home/trash" mat-button>
                  <img style="height:30px;margin-top: 10px;"  src="/assets/icons/trash.svg"> Trash</a>
              </div>
             </div>
         
      </mat-sidenav>
     
      
   <mat-sidenav-content>
     <router-outlet></router-outlet>
  </mat-sidenav-content>
    </mat-sidenav-container>
  </div>

</div>