<div>
  <div style="height:100vh;">
    <mat-toolbar style="background-color: #fb0; position: sticky; top: 0;z-index: 1000;">
      <button mat-icon-button (click)="sidenav.toggle()" href="#" matTooltip="Main menu">
        <mat-icon>menu</mat-icon>

      </button>


      <span>Fundoo Keep</span>
      <div>
        <button mat-icon-button (click)="refresh()">
          <mat-icon>refresh</mat-icon>
        </button>
      </div>
      <a href="#" mat-button>Menu Item 1</a>

      <a href="#" mat-button>Menu Item 2</a>

      <a href="#" mat-button>Menu Item 3</a>
      <button mat-button type="submit" (click)="logout()">Sign out</button>
      
    </mat-toolbar>

    <mat-sidenav-container class="example-container">

      <mat-sidenav mode="side" #sidenav opened>
          <ul>
            <li class="sidebar-item" fxLayout="row">
              <span>Notes</span>
            </li>

            <li class="sidebar-item" fxLayout="row">
              <span>Reminder</span>
            </li>

            <li class="sidebar-item" fxLayout="row">
              <span>Labels</span>
            </li>

            <li class="sidebar-item" fxLayout="row">
              <span>Archieve</span>
            </li>
            <li class="sidebar-item" fxLayout="row">
              <span>Trash</span>
            </li>
            <li class="sidebar-item" fxLayout="row">
              <span>app</span>
            </li>
          </ul>
      </mat-sidenav>
      <!-- <mat-sidenav-content><app-note style="overflow-y: hidden"></app-note></mat-sidenav-content> -->
      
    <mat-sidenav-content>
      <router-outlet></router-outlet>
      
    </mat-sidenav-content>
    </mat-sidenav-container>
  </div>

</div>