<!-- Hide card-->
  <div class="left-container">
     <div fxLayoutAlign="center center" (click)="show=!show" class="note-card" *ngIf="!show">
      <mat-card fxFlex="600px" fxFlexAlign="center" class="title-css">
      <div contenteditable="true" data-text="Take a note..." class="editable"></div>
      </mat-card>
     </div>


  <!--show card-->
  <div fxLayout="row" fxLayoutAlign="center" *ngIf="show" class="note-card">
    <mat-card fxFlex="600px" fxFlexAlign="center">
     
      <mat-card-content>
        <div style="font-weight: bold; font-size: 17px; padding: 10px 15px;" contenteditable="true" data-text="Title" class="editable"
          name="Title" (input)="model.title=$event.target.innerHTML"></div>

        <div style="font-size: 14px; padding: 12px 15px 15px 15px;" contenteditable="true" data-text="Take a note..." class="editable "
          name="description" (input)="model.description=$event.target.innerHTML"></div>
          <div name="url" (input)="model.url=$event.target.innerHTML"></div>
      </mat-card-content>

      <mat-card-actions>
        <div fxLayout="row" fxLayoutAlign="end">
          <button matbutton type="submit" (click)="createNote()">Done</button>
        </div>
      </mat-card-actions>

    </mat-card>
  </div>



  <!--pinNote -->
    <div fxLayout="row wrap"  fxLayoutAlign="center"  fxLayoutGap="20px">
      <div *ngFor="let note of notes| noteFilter :{ status : 3}" class={{statusClass}} fxFlex="320px">
       <!-- <app-commonnote [notes]="note"></app-commonnote> -->
           <mat-card class="note-card2" [style.background]="note.color" class="openhide">
            <div style="margin-left: 90%;">
              <img [src]="unPinIcon" (click)="unPinNote(note)">
            </div>
             <div  *ngIf="note.image"(click)="openDialog(note)">
              <img class="image-class" [src]='"/assets/icons/"+note.image'/>
                    
              <div [innerHTML]="note.title" class="editable"></div>
              <div [innerHTML]="note.description"></div>
          
            </div>
            <div fxLayout="row" class="hideme">
              <div>
                <button mat-icon-button [matMenuTriggerFor]="menu" class="images">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button type="submit" class="images" mat-menu-item (click)="moveTrash(note)">
                    <mat-icon>delete</mat-icon>
                    <span>delete note</span>
                  </button>
                </mat-menu>
              </div>
              <div>
                <button mat-icon-button [matMenuTriggerFor]="color" class="images">
                  <mat-icon>color_lens</mat-icon>
                </button>
                <mat-menu #color="matMenu">

                  <div>
                    <a *ngFor="let color of colors">
                      <img src="{{color.path}}" (click)="note.color=color.color;updateNoteColor(note,note.status)">
                    </a>
                  </div>
                </mat-menu>
              </div>
              <div>
                <img style="margin-right: 10px;height: 20px;margin-top: 10px;" class="images" src="{{collaborator}}">
              </div>

              <div>
                <img style="margin-right: 10px;height: 20px;margin-top: 10px;" src="{{archiveImg}}" (click)=" archive(note)" class="images">
              </div>
              <div>
                <img style="margin-right: 10px;height: 20px;margin-top: 10px;" src="{{reminderImg}}" class="images">
              </div>
            </div>
          </mat-card> 
        
      </div>
    </div>


 <!--UnpinNote -->
   <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
     <div fxLayout="row wrap"  fxLayoutAlign="space-between center"  class="mat-div" fxFlex="900px"> 
       <div *ngFor="let note of notes|noteFilter :{ status : 0}" class={{statusClass}}>
        <app-commonnote [note]="note"></app-commonnote>
      </div>
     </div> 
  </div>
</div>
