


<div fxLayoutAlign="center center" (click)="toggle()">
<mat-card fxFlex="600px" fxFlexAlign="center" class="note-card" >
    
   
    <mat-card-content  >
        <div contenteditable="true" data-text="Title" class="editable"></div>
      <div contenteditable="true" data-text="Take a note..." class="editable"></div>
 
    </mat-card-content>
      <mat-card-actions>
        <div fxLayout="row" fxLayoutAlign="end"><button mat-button>DONE</button></div> 
        </mat-card-actions>
</mat-card>

</div>
